@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: thistle;
}

#app {
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.quad {
  border: 2px solid black;
  text-align: center;
}

button {
  margin-bottom: 10px;
}

h1 {
  margin: 0;
}
